<span class="coin blatcoin">
    <span class="price__value">
        <strong>{{price}}</strong>
    </span>
    <span class="price__currency">
        <ion-icon name="blat"></ion-icon>
    </span>
</span>