<span class="coin eurocoin">
    <span class="price__value">
        <strong>{{price}}</strong>
    </span>
    <span class="price__currency">
        <ion-icon name="euro"></ion-icon>
    </span>
</span>